body { 
    background-color: #696969;
}

h1.titulo2 {
    text-align: center;
    font-size: 70px;
    text-shadow: 10px 3px 10px salmon;
}

a { 
    color: white;
}


h2 { 
    color:salmon;
    background-color: black;
    text-align: center;
}

p {
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 17px;
}

h1.tiposdieta { 
    text-align: center;
    color: salmon;
    font-size: 55px;
    text-shadow: 10px 3px 10px black;
    margin-top: 100px;
}

h3 {
    background-color: black;
    color: salmon;
    margin-top: 40px;
    
}